/target
**/*.rs.bk
.vscode
.DS_Store
Cargo.lock
*.html
.idea
tests/test_101.txt
tests/test_1010.txt
tests/test_102.txt
tests/test_103.txt
tests/test_104.txt
tests/test_105.txt
tests/test_106.txt
tests/test_107.txt
tests/test_108.txt
tests/test_109.txt
tests/test_11.txt
tests/test_21.txt
tests/test_22.txt
tests/test_31.txt
tests/test_32.txt
tests/test_33.txt
tests/test_41.txt
tests/test_42.txt
tests/test_43.txt
tests/test_44.txt
tests/test_51.txt
tests/test_52.txt
tests/test_53.txt
tests/test_54.txt
tests/test_55.txt
tests/test_61.txt
tests/test_62.txt
tests/test_63.txt
tests/test_64.txt
tests/test_65.txt
tests/test_66.txt
tests/test_71.txt
tests/test_72.txt
tests/test_73.txt
tests/test_74.txt
tests/test_75.txt
tests/test_76.txt
tests/test_77.txt
tests/test_81.txt
tests/test_82.txt
tests/test_83.txt
tests/test_84.txt
tests/test_85.txt
tests/test_86.txt
tests/test_87.txt
tests/test_88.txt
tests/test_91.txt
tests/test_92.txt
tests/test_93.txt
tests/test_94.txt
tests/test_95.txt
tests/test_96.txt
tests/test_97.txt
tests/test_98.txt
tests/test_99.txt
