.test-input {
    width: 30px;
    height: 50px;
    font-size: 36px;
    margin-right: 0px;
    text-align: center;
}

.test-input:focus {
    background-color: lightblue;
}

.green {
    background-color: lawngreen;
}

.red {
    background-color: orangered;
}

#test-div {
    height: 200px;
    width: 266px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -133px;
}